/* ====== COMMON STYLES ====== */
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: "Roboto",  sans-serif;
    color:#434455;
    background-color: #ffffff;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none; 
    margin-top: 0; 
    margin-bottom: 0;
    margin-left: 0;
    list-style-type: none;
}

button {
    cursor: pointer;
}

/* ====== загальні стилі ====== */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;


}

/* ====== HEADER STYLES ====== */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.container-header {
    display: flex;
    padding: 24px;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-page-nav {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    margin-right: 332px;
    display: flex;

}
   
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
    padding: 24px;
}

.header-logo .span-logo {
    color: #2e2f42;
} 

.menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;

.menu-item {
display: block;
}
    
        
}
.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}


.adress-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;

}
.adress-link:hover,
.adress-link:focus {
 color: #404bbf;
}

/* ====== HERO ====== */



.section-hero {
    padding: 188px;
    background-color: #2e2f42;
    margin-right: 76px;
}

.hero-title {
        max-width: 100%;
        /* изменение максимальной ширины для выравнивания по центру */
            margin: 0 auto;
        /* автоматическое выравнивание по центру */
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
        margin-bottom: 48px;
}

.main-button {

    width: 169px;
    height: 56px;
    display: block;
    margin-left: auto; /* автоматическое выравнивание кнопки по центру */
    margin-right: auto;/* автоматическое выравнивание кнопки по центру */
    border: none;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;

}

.main-button:hover,
.main-button:focus {
    background-color: #404bbf;
}

/* ====== OUR BENEFITS ====== */

.benefits-titel {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 120px 120px;
        }

.benefits-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ====== OUR TEAM ====== */


.section-team {
    background-color: #F4F4FD;
}



.team-item {
background-color: #ffffff;
}
.team-title {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team-paragraph {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
 
            


/* ====== OUR PORTFOLIO ====== */
    
.portfolio-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;    
        padding: 120px 120px;
}
.portfolio-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



/* ======== FOOTER ============= */

.footer {
    background: #2e2f42;
}


.footer-logo .span-logo {
color: #f4f4fd;
}

.footer-paragraph {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

